body{
    font: 14px serif,"Times New Roman";

}
header {
    width: 100%;
    height: 50px;
    border-bottom: solid black 2px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
header img{
    padding-left: 150px;
}
nav , .nav{
    margin-right: 150px;
    float: right;
    line-height: 60px;
}
nav a , .nav a{
    text-decoration: none;
    margin-left: 75px;
    color: black;
    text-transform: uppercase;

}
.link1 , .nav .nav1{
    color: green;
}
div.first{
    width: 100%;
    height: 540px;
    background-color: midnightblue;
    margin-bottom: 15px;
}
 .left {
     margin-left: 150px;
     float: left;
     color: white;
     font-size: 40px;
     padding-top: 90px;
     position: relative;
 }
 .right{
     float: right;
     margin-right: 150px;
    position: relative;
 }
.second{
    background-color: forestgreen;
    width: 100%;
    height: 450px;
    margin-bottom: 15px;
}
.top{
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
}
.bottom{
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
}
.section{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;

}
.second .top img {
    width: 300px;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
    font-size: 12pt;
}

.second .top {
    padding-top:15px;

    color: black;
    text-align: justify;
}
.second .bottom img{
    width: 300px;
    border-radius: 25px;
    float: right;
    margin-left: 20px;
}
.second .bottom {
    padding-top: 15px;

    color: black;
    text-align: justify;
}
footer{
    width: 100%;
    height: 50px;
    border-top: solid black 2px;
    padding-bottom: 10px;
}
footer p {
    display: inline-block;
    margin-left: 150px;
}
.about{
    width: 100%;
    height: 40px;
    background-color: lightgreen;
    margin-bottom: 10px;
    font-size: 20pt;
}
.about p:nth-of-type(1){
    margin-left: 150px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    display: inline;
}
.about p:nth-of-type(2){
    margin-right: 150px;
    display: inline;
    float: right;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    line-height: 15px;
}

.main{
    background-color: lightgray;
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}
#header{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
#people {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 30px;
    padding-left: 30px;
}
.main  #header h1 {
    color: white;
    font-size: 18pt;
    text-align: center;
    position: relative;
    top: 15px;
    border-top: solid gray  1px;
    border-bottom: solid gray  1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.person {
    display: inline-block;
    float: left;
    border-radius: 25px;
    background-color: white;
    width: 270px;
    height: 380px;
    margin: 0 63px;
}

.person img {
    margin: 20px 10px -10px;
}

.person h2 {
    text-align: center;
    border-bottom: solid black 2px;
    padding-bottom: 10px;
}

.person p {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.main #contact {
    position: relative;
    top: 50px;
    left: 150px;
    color: white;
}
#conctactH{
    font-size: 20pt;
}
#map {
    float: right;
    width: 500px;
    height: 320px;
    margin-right: 300px;
    position: relative;
    bottom: 120px;
}

.main #contact div {
    color: black;
    font-size: 14pt;
}

div.main div#contact div:first-of-type {
    margin-bottom: 20px;
}

h4 {
    color: white;
}

#address {
    float: right;
}

p.address {
    color: black;
    font-size: 12pt;
    line-height: 5px;
}

#box {
    height: 220px;
}

#theaddress {
    float: right;
    position: relative;
    left: 500px;
}